

#wrapper2 {
width:70%;	
height:auto;
background:url(./images/photogalleryframe.jpg);
background-size:100%;
background-repeat:no-repeat;
position:relative;
max-width:644px;
max-height:513px;
margin:0 auto;
	}

select
{
	width:100%;
}


#leftcolumn video {
padding:0;	
margin:0;
	
	}


#leftcolumn 
{ 
	color: #333;
	
	height:74%;

	width: 74%;
	max-height:350px;
	float: left;
}


#rightcolumn 
{
	display: inline;
	position: relative;
	float: right;
	
	
	height:auto;
	width:25%;
}

#mycustomscroll 
{
	list-style: none;
	height:auto;
	max-height:350px;
	overflow: auto;
	position: relative;
	margin: 0.3em auto;
	font-size: 12px;
}

#mycustomscroll li
{
	font-size: 12px;
	width: 50%;
	padding: 5%;
	margin: 10%;
	cursor: pointer;
}

#mycustomscroll a
{
	text-decoration: none;
}

#mycustomscroll a:hover li
{
	background-color: #6F7986;
	color: #FFF;
}